.App {
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
  height: 75vw;
}

#table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #04AA6D;
  color: white;
}

#table td, #table th {
  border: 1px solid #ddd;
  padding: 8px;
}

td > input {
  border: none;
}

.del-cell {
  display: flex;
  justify-content: space-evenly;
}

.cell-selected {
  background-color: grey;
}

